
.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event{
    border: 1px solid #265985;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid
;
    max-height: 5%;
    min-height: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: visible;
    position: static;
    min-width: 100%;
    margin: 2px;
    border-radius: 5px;
    background-color: #aee4ff;
    color: black;
}

.rbc-event {
    cursor: move; /* Indicate draggable events */
  }
  